@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="width: 16em">
    <div class="row">
        <a asp-action="ViewArchive" class="btn btn-primary">View weather archive</a>
    </div>
    <div class="row" style="margin-top: 10px">
        <a asp-action="Upload" class="btn btn-primary">Upload weather data</a>
    </div>
</div>
